<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" xmlns:og="http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <title>
      {% if is_home %}Home
      {% elif is_tag %}{{ tag }}
      {% elif post.type == 'post' %}{{ post.title }}
      {% elif post.type == 'link' %}{{ link.title }}
      {% elif post.type == 'page' %}{{ page.title }}
      {% endif %}
      | Postach.io Blog
    </title>

    {{ header_meta }}

    <!-- css -->
    <link rel="stylesheet"  href="{{ assets('css/style.css') }}">
    
    <!--[if IE]>
      <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% if site.analytics %}
      <script>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ site.analytics }}']);
        _gaq.push(['_trackPageview']);
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = 'https://ssl.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    {% endif %}
  </head>
  <body>
    <!-- rainbow stripe -->
    <div class="rainbow"></div>

    <!-- header -->
    <header>
      <a href="{{ site.base_url }}" class="logo" style="background-image: url('{{ url_for("static", filename="site/img/logo-blog.png") }}')">&nbsp;</a>
      <ul>
        <li><a href="http://postach.io/discover">Discover</a></li>
        <li><a href="http://postach.io/">Sign Up</a></li>
        <li><a href="http://postach.io/">Log In</a></li>
      </ul>
    </header>

    <div class="container">

      {% if is_home or is_tag %}

      <div class="post-list">

        {% if is_tag %}
        <h1>{{ tag|format_tag(False, True) }}</h1>
        {% endif %}

        {% if posts %}
        <ul class="posts">
          {% for post in posts %}
          <li>
            <h3><a href="{{ post.permalink }}">{{ post.title }}</a></h3>
            <p>{{ post.content }}</p>
            
            <!-- took post author out of here -->
            
            <div class="dots"><span></span><span></span><span></span></div>
          </li>
          {% endfor %}
        </ul>
        {% endif %}

      </div><!-- end posts -->

      {% elif post.type == 'post' %}

      <div class="post">

        <h1>{{ post.title }}</h1>

        <div class="post-content" data-type-cleanup="true">
          {{ post.content }}
        </div>

        <!-- removed post author from here -->
        
        {% if site.disqus %}
        <div class="post-comments">
          <div id="disqus_thread"></div>
          <script>
            var disqus_shortname = '{{ site.disqus }}';
            var disqus_url = '{{site.base_url}}{{ post.permalink }}';
            (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          </script>
        </div>
        {% endif %}
      </div><!-- end post -->
      {% endif %}

    </div><!-- end container -->

    {% if is_home or is_tag %}
      {% if pagination.next or pagination.prev %}
      <div class="pagination">
        <div class="container">
          <a href="{{ pagination.prev }}" class="prev"><span class="ss-icon">previous</span> Previous</a>
          <a href="{{ pagination.next }}" class="next">Next <span class="ss-icon">next</span></a>
        </div>
      </div>
      {% endif %}
    {% elif post.type == 'post' %}
      <div class="pagination">
        <div class="container">
          <a href="javascript:history.go(-1);" class="prev"><span class="ss-icon">previous</span> Back To List</a>
        </div>
      </div>
    {% endif %}


    <footer>
      <div class="container">
        <ul>
          <li class="nav-title"><i class="po-nut-outline">&nbsp;</i> Postach.io</li>
          <li><a href="http://postach.io" target="_blank">Visit Our Site</a></li>
          <li><a href="http://postach.io/press" target="_blank">In The Press</a></li>
          <li><a href="http://postach.io/" target="_blank">Sign Up</a></li>
          <li><a href="http://postach.io/" target="_blank">Log In</a></li>
        </ul>
        <ul>
          <li class="nav-title">Community</li>
          <li><a href="http://postach.io/discover" target="_blank">Discover</a></li>
          <li><a href="http://help.postach.io" target="_blank">Help Center</a></li>
          <li><a href="http://docs.postach.io" target="_blank">Documentation</a></li>
        </ul>
        <div class="right">
          <p class="description">The Evernote powered blogging platform. <a href="http://postach.io/">Sign Up &raquo;</a></p>
          <p class="copy">&copy; 2014 <a href="http://inputlogic.ca">Input</a></p>
        </div><!-- end post -->
      </div>
    </footer>

    {{ footer_meta }}

    <!-- js -->
    <script type="text/javascript" src="{{ assets('js/blog.min.js') }}" /></script>

  </body>
</html>
