@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,300italic,400italic,500italic);
@import url(http://postachio-static.s3-website-us-east-1.amazonaws.com/fonts/symbolset/ss-pika.css);
/*---------------------------------------------------
    LESS Elements 0.9.1
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
    MODIFIED BY: Brandon Brown
  ---------------------------------------------------*/
* html .clearfix {
  zoom: 1;
}
/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}
/* IE7 */
a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.ss-icon {
  position: relative;
  top: 2px;
}
.left {
  float: left;
}
.right {
  float: right;
}
* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
.container {
  display: block;
  clear: both;
  margin: 0 auto;
  width: 60%;
  max-width: 1024px;
}
.container:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.grid {
  margin: 0 0 50px 0;
}
.grid:after {
  content: "";
  display: table;
  clear: both;
}
.grid.pad {
  padding: 50px;
}
[class*='col-'] {
  float: left;
  padding-right: 50px;
}
.grid [class*='col-']:last-of-type {
  padding-right: 0;
}
[class*='col-'].centered {
  float: none;
  margin: 0 auto;
}
.grid-pad {
  padding: 50px 0 50px 50px;
}
.grid-pad [class*='col-']:last-of-type {
  padding-right: 50px;
}
.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}
.col-1-2 {
  width: 50%;
}
.col-1-4 {
  width: 25%;
}
.col-3-4 {
  width: 75%;
}
.col-1-8 {
  width: 12.5%;
}
html {
  font-size: 100%;
}
body {
  font-size: 100%;
  font-family: 'Roboto', helvetica, arial, sans-serif;
  color: #8b8b8b;
  line-height: 1.6;
  font-family: 'Roboto';
  font-weight: 300;
}
h1,
h2,
h3,
h4 {
  color: #f76f4f;
  padding: 0 0 50px 0;
  line-height: 1.5;
  font-family: 'Roboto';
  font-weight: 400;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.85rem;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: #8b8b8b;
}
a:hover {
  color: #37cca1;
}
.rainbow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-image: url(../images/rainbow-bg.png);
  background-repeat: repeat-x;
  background-size: 55%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1000;
}
header {
  padding: 50px;
  height: 145px;
}
header:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
header ul {
  position: absolute;
  width: 50%;
  top: 0;
  right: 0;
  text-align: right;
  padding: 40px 50px 0 0;
}
header ul li {
  text-align: right;
  display: inline-block;
  padding-left: 50px;
}
header ul li a {
  font-family: 'Roboto';
  font-weight: 400;
  color: #8b8b8b;
}
header ul li a:hover,
header ul li a.active {
  color: #37cca1;
}
.logo {
  display: block;
  float: left;
  width: 307.5px;
  height: 42.5px;
  background: url('') no-repeat top left;
  background-size: 100%;
  text-decoration: none;
}
.logo:hover {
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  -webkit-opacity: 0.75;
  opacity: 0.75;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=75);
  filter: alpha(opacity=75);
}
footer {
  display: block;
  background-color: #f8f8f8;
  padding: 50px 0;
  font-size: 0.85rem;
}
footer:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
footer ul {
  width: 30%;
  display: block;
  float: left;
  list-style-type: none;
}
footer ul:first-of-type {
  padding-left: 0;
}
footer ul li:first-of-type {
  text-transform: uppercase;
  padding-bottom: 12.5px;
  font-family: 'Roboto';
  font-weight: 400;
  line-height: 1.6;
}
footer ul li a {
  font-weight: normal;
  text-transform: none;
  font-family: 'Roboto';
  font-weight: 300;
}
footer .po-nut-outline {
  position: relative;
  top: 1px;
  color: #37cca1;
}
footer .description {
  font-style: italic;
}
footer .right {
  width: 40%;
  float: right;
  text-align: right;
}
button,
a.btn {
  border: 0;
  display: inline-block;
  color: #ffffff;
  cursor: pointer;
  padding: 15px 30px;
  text-transform: uppercase;
  background-color: #f76f4f;
  font-size: 0.9rem;
}
button:hover,
a.btn:hover {
  background-color: #8b8b8b;
}
button.btn-mini,
a.btn.btn-mini {
  padding: 7px 14px 7px 14px;
  font-size: 0.75rem;
  background-color: #8b8b8b;
}
button.btn-mini:hover,
a.btn.btn-mini:hover {
  background-color: #636363;
}
button.centered,
a.btn.centered {
  margin: 0 auto;
  display: block;
  width: auto;
}
.post {
  display: block;
  padding: 100px 0 150px 0;
}
.post:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.post h1 {
  padding: 0 0 25px 0;
  margin: 0;
}
.post h2,
.post h3,
.post h4 {
  padding: 25px 0 12.5px 0;
  margin: 0;
}
.post .back {
  display: inline-block;
  font-size: 0.85rem;
  margin-bottom: 25px;
}
.post .back:hover span {
  color: #37cca1;
}
.post .post-content {
  display: block;
}
.post .post-content ul,
.post .post-content ol,
.post .post-content li,
.post .post-content blockquote,
.post .post-content p,
.post .post-content div,
.post .post-content b,
.post .post-content i {
  text-align: left;
}
.post .post-content ul strong,
.post .post-content ol strong,
.post .post-content li strong,
.post .post-content blockquote strong,
.post .post-content p strong,
.post .post-content div strong,
.post .post-content b strong,
.post .post-content i strong {
  font-weight: bold;
}
.post .post-content b {
  font-weight: bold;
}
.post .post-content p,
.post .post-content div {
  padding: 12.5px 0;
  margin: 0;
}
.post .post-content p.gist,
.post .post-content div.gist {
  padding: 0;
  margin: 0;
}
.post .post-content p.gist .gist-file,
.post .post-content div.gist .gist-file,
.post .post-content p.gist .gist-data,
.post .post-content div.gist .gist-data,
.post .post-content p.gist .gist-syntax,
.post .post-content div.gist .gist-syntax,
.post .post-content p.gist .file-data,
.post .post-content div.gist .file-data,
.post .post-content p.gist .line,
.post .post-content div.gist .line {
  padding: 0;
  margin: 0;
}
.post .post-content table {
  margin: 0;
  padding: 0;
}
.post .post-content blockquote {
  padding: 12.5px 25px;
  margin: 12.5px 0;
  border-left: 5px solid #e5e5e5;
}
.post .post-content ul {
  padding: 12.5px 0 18.75px;
  margin-left: 50px;
}
.post .post-content ul li {
  padding: 0;
  margin: 0;
  list-style-type: square;
}
.post .post-content ol {
  padding: 12.5px 0 18.75px;
  margin-left: 30px;
}
.post .post-content ol li {
  padding: 0;
  margin: 0;
  list-style-type: decimal;
}
.post .post-content h1 {
  padding-bottom: 25px;
}
.post .post-content h2,
.post .post-content h3 {
  padding-top: 25px;
}
.post .post-content img {
  max-width: 100%;
  height: auto;
}
.post .post-content .mejs-container {
  margin-top: 12.5px;
}
.post .post-content .post-pdf {
  position: relative;
}
.post .post-content .post-pdf .pdf-fullscreen {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: #000;
  font-size: 12px;
  padding: 10px;
  background-color: #1abc9c;
  border-radius: 7px;
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  -webkit-opacity: 0.3;
  opacity: 0.3;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
  filter: alpha(opacity=30);
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  -webkit-appearance: none;
  cursor: pointer;
  border: 0;
}
.post .post-content .post-pdf .pdf-fullscreen:hover {
  color: #ffffff;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
.post .post-content .post-pdf object {
  display: block;
  min-height: 400px;
}
.post .post-content p,
.post .post-content div,
.post .post-content ul,
.post .post-content li,
.post .post-content b,
.post .post-content i {
  font-size: 1.2rem;
}
.post .post-content p a,
.post .post-content div a,
.post .post-content ul a,
.post .post-content li a,
.post .post-content b a,
.post .post-content i a {
  color: #f76f4f;
  text-decoration: underline;
}
.post .post-content p a:hover,
.post .post-content div a:hover,
.post .post-content ul a:hover,
.post .post-content li a:hover,
.post .post-content b a:hover,
.post .post-content i a:hover {
  color: #37cca1;
}
.post .post-content img {
  width: 100%;
  border: 2px solid #f8f8f8;
  padding: 0;
}
.post .post-comments {
  padding-top: 50px;
  display: block;
  clear: both;
}
.post .post-footer {
  display: block;
  clear: both;
  padding-top: 50px;
}
.post .post-footer:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.post .post-footer .post-author {
  width: 50%;
  float: left;
  text-align: left;
}
.post .post-footer .post-author .post-author-avatar {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
.post .post-footer .post-author .post-author-avatar img {
  width: 50px;
  height: 50px;
}
.post .post-footer .post-author p {
  float: left;
  font-size: 0.85rem;
  padding: 0 0 0 20px;
  margin: 0;
}
.post .post-footer .post-author p span {
  font-weight: bold;
}
.post .post-footer .post-author p span.post-date {
  color: #bbbbbb;
  font-weight: normal;
  display: block;
  font-family: 'Roboto';
  font-weight: 300;
}
.post .post-footer .post-author p span.post-author-name {
  font-size: 1rem;
  font-family: 'Roboto';
  font-weight: 400;
}
.post .post-footer .post-options {
  width: 50%;
  float: right;
  text-align: right;
  list-style-type: none;
}
.post .post-footer .post-options li {
  float: right;
  padding-left: 25px;
}
.post .post-footer .post-options li a {
  display: inline-block;
}
.post .post-footer .post-options li a i {
  position: relative;
  top: 2px;
}
.post .post-footer .post-options li a .phrase {
  margin-left: 4px;
}
.post .post-footer .post-options li .options-label {
  display: inline-block;
  padding: 12.5px 10px 0 0;
  color: #bbbbbb;
  font-size: 0.85rem;
}
.post .post-video {
  padding: 25px 0;
}
.post .post-video iframe {
  width: 100%;
  height: 500px;
  display: block;
  border: 0;
}
.post-list {
  padding: 100px 0 100px 0;
}
.posts {
  padding: 0;
}
.posts li {
  display: block;
  padding: 0 0 50px 0;
}
.posts li:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.posts li .dots {
  display: block;
  padding-top: 50px;
  clear: both;
  text-align: center;
}
.posts li .dots span {
  display: inline-block;
  width: 5px;
  height: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #bbbbbb;
}
.posts li .dots span:nth-of-type(2) {
  margin: 0 13px 0 13px;
}
.posts li:last-of-type .dots {
  display: none;
}
.posts li p {
  font-size: 1.2rem;
}
.posts h3 {
  position: relative;
  padding: 0 0 0 0;
  margin: 0;
  font-family: 'Roboto';
  font-weight: 400;
  color: #f76f4f;
}
.posts h3 a {
  color: #f76f4f;
}
.posts h3 a:hover {
  color: #37cca1;
}
.posts h3 .socialbar-like {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.85rem;
  color: #bbbbbb;
}
.posts h3 .socialbar-like:hover {
  color: #37cca1;
}
.posts h3 .socialbar-like:hover span {
  color: #37cca1;
}
.posts h3 .socialbar-like span {
  color: #bbbbbb;
}
.posts .post-author {
  text-align: left;
  padding: 5px 0 0 0;
}
.posts .post-author:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.posts .post-author .post-date {
  font-family: 'Roboto';
  font-weight: 300;
}
.posts .post-author .post-author-avatar {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
.posts .post-author .post-author-avatar img {
  width: 30px;
  height: 30px;
}
.posts .post-author p {
  float: left;
  font-size: 0.85rem;
  padding: 3px 0 0 15px;
  margin: 0;
}
.posts .post-author p span {
  font-weight: bold;
}
.posts .post-author p span.post-date {
  color: #bbbbbb;
  font-weight: normal;
}
.posts .post-author p span.post-author-name {
  font-size: 1rem;
  font-family: 'Roboto';
  font-weight: 400;
}
.pagination {
  border-top: 2px solid #f8f8f8;
  padding: 25px 0;
  font-size: 0.85rem;
}
.pagination:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.pagination a {
  display: block;
  color: #bbbbbb;
}
.pagination a:hover {
  color: #37cca1;
}
.pagination a:hover span {
  color: #37cca1;
}
.pagination a span {
  color: #bbbbbb;
}
.pagination .prev {
  float: left;
  text-align: left;
}
.pagination .next {
  float: right;
  text-align: right;
}
